@theme {

  --color-primary: #5B5CF6;

  --color-secondary: #242347;

  --color-orange: #FDBB74;

  --color-pink: #F8A8D8;

  --color-text: #6D6D6D;

  --color-border: #ECECEC;

  --radius-card: 28px;

}